<!-- test if title exist -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>
<section id="login-view" class="container auth-form">
  <div class="container">
    <form action="">
      <section class="container">
        <label for="account_email">Email:</label>
        <input
          type="email"
          id="account_email"
          name="account_email"
          placeholder="email"
          required
        />
      </section>
      <section class="container">
        <label for="account_password">Password:</label>
        <input
          type="password"
          id="account_password"
          name="account_password"
          placeholder="password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
          required
        />
        <article class="container">
          <p>
            Password must be at least 12 characters and contain the following:
          </p>
          <ul>
            <li>* at least 1 capital letter</li>
            <li>* at least 1 number</li>
            <li>* at least 1 special character</li>
          </ul>
        </article>
      </section>
      <section class="submit-area container">
        <button type="submit" class="btn submit-btn">Login</button>
        <p>No Account? <a href="./register">Sign-Up</a></p>
      </section>
    </form>
  </div>
</section>
