<!-- test if title exist -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<section id="registration-view" class="container auth-form">
  <div class="container">
    <form action="/account/register" method="post">
      <section class="container">
        <label for="account_firstname">First Name:</label>
        <input
          type="text"
          name="account_firstname"
          id="account_firstname"
          placeholder="first name"
          required
        />
      </section>
      <section class="container">
        <label for="account_lastname">Last Name:</label>
        <input
          type="text"
          for="account_lastname"
          name="account_lastname"
          placeholder="last name"
          required
        />
      </section>
      <section class="container">
        <label for="account_email">Email:</label>
        <input
          type="email"
          id="account_email"
          name="account_email"
          placeholder="email"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
          required
        />
      </section>
      <section class="container">
        <label for="account_password">Password</label>
        <input
          type="password"
          id="account_password"
          name="account_password"
          placeholder="password"
          required
        />
        <article class="container">
          <p>
            Password must be at least 12 characters and contain the following:
          </p>
          <ul>
            <li>* at least 1 capital letter</li>
            <li>* at least 1 number</li>
            <li>* at least 1 special character</li>
          </ul>
        </article>
      </section>
      <section class="submit-area container">
        <button type="submit" class="btn submit-btn">Register</button>
        <p>Have an account? <a href="./login">Login</a></p>
      </section>
    </form>
  </div>
</section>
