<header id="top-header" class="container header">
  <span class="sitename">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <%- loginLink %>
  </div>
</header>
