<nav id="navbar">
    <ul>
        <li class="btn">Home</li>
        <li class="btn">Custom</li>
        <li class="btn">Sedan</li>
        <li class="btn">SUV</li>
        <li class="btn">Truck</li>
    </ul>
</nav>