<nav id="navbar">
    <ul>
        <li class="btn" id="home">Home</li>
        <li class="btn" id="custom">Custom</li>
        <li class="btn" id="sedan">Sedan</li>
        <li class="btn" id="suv">SUV</li>
        <li class="btn" id="truck">Truck</li>
    </ul>
</nav>