/* ======================================== */
/* variables */
/* ======================================== */
:root {
  --primary-color: #D9E2EC;
  --primary-color-trans: #D9E2EC90;
  --secondary-color: #1C3D5A;
  --secondary-color-trans: #1C3D5A90;
  --accent-color: #9C2D27;
  --accent-color-trans: #9C2D2790;
  --text-color: #2D2D2D;
  --text-color-trans: #2D2D2D90;
}

/* ======================================== */
/* classifications page */
/* ======================================== */
#inv-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  & li {
    border: var(--accent-color-trans) 2px solid;
    border-radius: 20px;
    width: 300px;
    margin: 10px;
    overflow: hidden;
    min-height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  & li a {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    max-height: fit-content;
    color: var(--text-color);
  }

  & img {
    border-bottom: var(--accent-color) 2px solid;
    max-width: 100%;
  }
}

.namePrice {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px 10px;
}

/* ======================================== */
/* large viewport styles */
/* ======================================== */

@media (min-width: 750px) {
  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-self: center;
  }
}

@media (min-width: 1000px) {
  #inv-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
