/* ======================================== */
/* variables */
/* ======================================== */
:root {
  --primary-color: #D9E2EC;
  --primary-color-trans: #D9E2EC90;
  --secondary-color: #1C3D5A;
  --secondary-color-trans: #1C3D5A90;
  --accent-color: #9C2D27;
  --accent-color-trans: #9C2D2790;
  --text-color: #2D2D2D;
  --text-color-trans: #2D2D2D90;
}

/* ======================================== */
/* details page */
/* ======================================== */
#details-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & article {
    margin: 10px;
  }

  & ul {
    padding: 0 30px;
    margin-bottom: 20px;
  }

  #detail-price {
    font-weight: bold;
    font-size: 1.3rem !important;
  }

  & ul li {
    font-size: 1.2rem;
    padding: 20px 10px;
    color: var(--text-color);
  }

  & ul li:nth-child(even) {
    background-color: var(--primary-color-trans);
  }

  & ul li:nth-child(odd) {
    background-color: var(--primary-color);
  }

  & ul li span {
    font-weight: bold;
    font-size: 1.3rem;
  }
}

#detail-img {
  max-width: 90vw;
  overflow: hidden;

  & img {
    width: 100%;
    max-width: 450px;
  }
}
/* ======================================== */
/* large viewport styles */
/* ======================================== */
@media (min-width: 850px) {
  #details-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;

    & ul {
      padding: 0;
    }

    & #detail-img {
      align-self: start;
    }

    & img {
      margin: 10px;
      max-width: 100%;
    }
  }
}
