/* ======================================== */
/* variables */
/* ======================================== */
:root {
  --primary-color: #D9E2EC;
  --primary-color-trans: #D9E2EC90;
  --secondary-color: #1C3D5A;
  --secondary-color-trans: #1C3D5A90;
  --accent-color: #9C2D27;
  --accent-color-trans: #9C2D2790;
  --text-color: #2D2D2D;
  --text-color-trans: #2D2D2D90;
}

/* ======================================== */
/* login page */
/* ======================================== */
.form {
  /* max-width: 800px; */
  margin: 0 auto;

  & div {
    background-color: var(--primary-color);
    width: 100%;
    max-width: 800px;
    margin: 10px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 10px;

  & section {
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    background-color: var(--secondary-color);
    color: white;
  }

  & label {
    font-size: 1.5rem;
    align-self: flex-start;
  }

  & input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }

  & input:focus {
    outline: var(--accent-color-trans) solid 1px;
    border: var(--accent-color) solid 2px;
    padding: 10px;
  }

  & .submit-area {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 0;
  }

  & a {
    text-decoration: underline;
  }

  & .submit-btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
}

.form article {
  font-size: 1.1rem;

  & li {
    font-size: 1rem;
  }
}

@media (min-width: 850px) {
  .form {
    background-color: var(--primary-color);
    margin: 10px;
    padding: 15px;
  }

  .form form section {
    padding: 30px 20px;
  }
}
