/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ======================================== */
/* variables */
/* ======================================== */
:root {
  --primary-color: #D9E2EC;
  --primary-color-trans: #D9E2EC90;
  --secondary-color: #1C3D5A;
  --secondary-color-trans: #1C3D5A90;
  --accent-color: #9C2D27;
  --accent-color-trans: #9C2D2790;
  --text-color: #2D2D2D;
  --text-color-trans: #2D2D2D90;
}

/* ======================================== */
/* wrapper */
/* ======================================== */
#wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100vh;
  background-color: white;
  position: relative;
}

/* ======================================== */
/* global */
/* ======================================== */
* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

li {
  list-style: none;
}

html,
body {
  line-height: 1.7rem;
  position: relative;
  overflow-x: hidden;
}

p {
  margin: 10px, 0;
}

@media (min-width: 850px) {
  body {
    max-width: 100%;
    margin: 20px auto;
    background-image: url("/images/site/checkerboard.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 25%;
    background-clip: border-box;
    border: var(--accent-color) 5px solid;
    border-radius: 20px;
    margin: 20px;
  }

  html {
    max-width: 1200px;
    margin: 0 auto;
  }

  #wrapper {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }
}

/* ======================================== */
/* utilies */
/* ======================================== */
.primary-text {
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.7rem;
}

.secondary-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.container {
  padding: 5px 7px;
}

.nav-btn {
  color: white;
  width: 100px;
  min-height: 40px;
  padding: 3px 5px;
  text-align: center;
  font-size: larger;
}

.btn {
  color: white;
  background-color: var(--accent-color);
  padding: 10px;
  font-weight: bold;
  border: none;
  border-bottom: #72727290 solid 2px;
  border-right: #72727290 solid 2px;
}

.btn:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: var(--accent-color);
}

.showcase {
  min-height: 275px;
}

.active {
  background-color: var(--accent-color);
}

/* ======================================== */
/* header */
/* ======================================== */
.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}

.sitename {
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;

  & a {
    color: var(--text-color);
  }
}

/* ======================================== */
/* navbar */
/* ======================================== */
#navbar {
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  width: 100%;

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }

  & li a {
    color: white;
  }

  & li.current {
    background-color: var(--accent-color);
  }

  & li.current a {
    color: white;
  }
}

/* ======================================== */
/* footer */
/* ======================================== */
#footer {
  height: 70px;
  display: flex;
  align-items: end;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  width: 100%;
  bottom: 0;
  margin-top: 15px;
}
