/* ======================================== */
/* variables */
/* ======================================== */
:root {
  --primary-color: #b7eb9d;
  --primary-color-trans: #b7eb9d90;
  --secondary-color: #5cba5f;
  --secondary-color-trans: #5cba5f90;
  --accent-color: #d56231;
  --accent-color-trans: #d5623190;
  --text-color: #052c4d;
  --text-color-trans: #052c4d90;
}

/* ======================================== */
/* wayfinding */
/* ======================================== */
#home {
  background-color: var(--accent-color);
}

/* ======================================== */
/* homepage */
/* ======================================== */

/* showcase */
.showcase {
  width: 100%;
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: bottom 20px right 20px;
}

.showcase article {
  background-color: #ffffff90;
  width: fit-content;
  padding: 10px;
  color: var(--accent-color);
  margin-top: 10px;
  margin-left: 5px;
}

.showcase ul {
  padding: 10px 0 10px 0;
}

.showcase li {
  font-weight: bold;
}

/* upgrades-reviews */
.upgrades-reviews {
  display: flex;
  flex-direction: column-reverse;
}

/* upgrades */
.upgrades h2 {
  color: var(--text-color);
}

.upgrade-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.icon-area {
  width: 90%;
  height: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon {
  background-color: var(--accent-color);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upgrade-icons p {
  color: blue;
  text-decoration: underline;
}

/* reviews */
.reviews h2 {
  color: var(--text-color);
}

.reviews ul {
  padding: 10px;
  margin-left: 15px;
}

.reviews li {
  list-style: disc;
}

/* ======================================== */
/* large viewport styles */
/* ======================================== */

@media (min-width: 850px) {
  #index-content {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
  }

  /* showcase */
  .showcase {
    background-size: 70%;
    background-position: bottom 50px left 150px;
    height: 500px;
  }

  .showcase article {
    min-width: 25%;
    padding-left: 50px;
    margin-top: 30px;
    margin-left: 150px;
  }

  /* upgrades-reviews */
  .upgrades-reviews {
    flex-direction: row;
    justify-content: center;
    align-items: top;
  }

  /* upgrades */
  .upgrades {
    width: 100%;
  }

  .icon-area {
    width: 90%;
    height: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* reviews */
  .reviews {
    width: 100%;
  }

  .reviews ul {
    padding: 10px;
    margin-left: 15px;
  }

  .reviews li {
    list-style: disc;
    padding: 10px 0;
    font-size: 1.2rem;
  }
}

@media (min-width: 575px) {
  .showcase {
    background-size: 70%;
  }
}

@media (min-width: 700px) {
  .showcase {
    background-size: 60%;
  }
}

@media (min-width: 825px) {
  .showcase {
    background-size: 50%;
  }
}

@media (min-width: 1100px) {
  .showcase {
    background-size: 70%;
    background-position: bottom 50px right 150px;
  }
}
