/* ======================================== */
/* variables */
/* ======================================== */
:root {
  --primary-color: #D9E2EC;
  --primary-color-trans: #D9E2EC90;
  --secondary-color: #1C3D5A;
  --secondary-color-trans: #1C3D5A90;
  --accent-color: #9C2D27;
  --accent-color-trans: #9C2D2790;
  --text-color: #2D2D2D;
  --text-color-trans: #2D2D2D90;
}

/* ======================================== */
/* manager options view */
/* ======================================== */
#manager-options-view {
  padding: 10px;
  background-color: var(--secondary-color);
  margin: 10px;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: var(--primary-color);
  }

  & a {
    margin: 30px 0;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
  }
}

@media (min-width: 850px) {
  #manager-options-view {
    margin: 30px 10px;

    & div {
      flex-direction: row;
      justify-content: space-evenly;
      height: 300px;
    }
  }
}
