/* ======================================== */
/* variables */
/* ======================================== */
:root {
  --primary-color: #D9E2EC;
  --primary-color-trans: #D9E2EC90;
  --secondary-color: #1C3D5A;
  --secondary-color-trans: #1C3D5A90;
  --accent-color: #9C2D27;
  --accent-color-trans: #9C2D2790;
  --text-color: #2D2D2D;
  --text-color-trans: #2D2D2D90;
}

/* ======================================== */
/* add inventory view */
/* ======================================== */
#add-inv-view,
#edit-inv-view {
  & form section {
    display: flex;
    flex-direction: column;
  }

  & h2 {
    color: white;
  }

  & label {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  & select {
    margin-top: 25px;
    font-size: 1rem;
    padding: 10px;
  }

  & textarea {
    height: 100px;
    font-size: 1rem;
    padding: 10px;
    max-width: 100%;
  }

  & p {
    padding-left: 10px;
  }

  & .submit-area {
    display: block;
  }
}
