<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section id="add-class-view" class="container form">
      <div class="container">
        <form id="addClassForm" action="/inv/manage/class" method="post">
          <section class="container">
            <label for="classification_name">Add Classification</label>
            <input
              type="text"
              name="classification_name"
              id="classificationName"
              placeholder="Enter classification name here."
              required
            />
            <article class="container">
              <p>
                * Classification must not contain spaces or special characters.
              </p>
            </article>
          </section>
          <section class="submit-area container">
            <button type="submit" class="btn submit-btn">Submit</button>
          </section>
        </form>
      </div>
    </section>
  </body>
</html>
