<!-- test if title exist -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<%- managerOptions %>

<section id="manage_inventory" class="container">
    <h2>Manage Inventory</h2>
    <p>Select a classification from the list to see the items beloning to the classification.</p>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</section>

<script src="../../js/inventory.js"></script>